h1 {
  font-family: "Papyrus";
}

p {
  font-family: "Comic Sans MS";
}

img {
  height: 250px;
  width: auto;
}

.hover_img a {
  position:relative;
}

.hover_img a span {
  position:absolute;
  display:none;
  z-index: 99;
}

.hover_img img {
  width: 250px;
  height: 250px;
}

.hover_img a:hover span {
  display: inline-block;
  width: 250px;
  height: 250px;
}

.marquee {
 background: limegreen;
 height: 18px;	
 overflow: hidden;
 position: relative;
}
.marquee h2 {
 font-family: "Comic Sans MS";
 font-size: 18px;
 color: black;
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 24px;
 text-align: center;

/* moves things */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);	
 -moz-animation: example1 15s linear infinite;
 -webkit-animation: example1 15s linear infinite;
 animation: example1 15s linear infinite;
}

@-moz-keyframes example1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}

