<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="https://www.pngitem.com/pimgs/m/370-3708742_memes-cat-sunglasses-cat-meme-hd-png-download.png">
    <title>stank</title>
    <link rel="stylesheet" href=""{{ url_for('static', filename='css/stylesheet.css') }}"/>
  </head>
  <body>
    <h1>stinky stinky stinky stinky</h1>
    <div class="hover_img">
    <p>hi im <a href="#">stinky<span><img src="https://i.ytimg.com/vi/QjyHnZnXWKw/maxresdefault.jpg" alt="uh oh stinky meme" height="250" /></span></a>!!!</p>
    </div>
    <p>thanks for visitng my site</p>
    <br>
    <img src="https://i.redd.it/fnl5mv7vhy731.jpg" alt="stinky minecraft cat"/></a>
    <p>bye</p>
  </body>
</html>
